:host {
    display: block;
    border-radius: 3px;
    box-shadow: 3px 3px 2px #ccc;
    margin: 20px 0;
    border: 1px solid black;
    padding: 20px;
}

img {
    border: 1px solid black;
}

.item-col {
    display: inline-block;
    padding-left: 20px;
   
}

.btn {
    width: 100px;
}

input {
    margin-right: 10px;
}

p {
    font-weight:bold;
}

.rating-bar {
    display: inline-block;
    width: 100px;
    height: 10px;
    border: 1px solid black;
    margin: auto;
    box-sizing: content-box;
}

.rating-bar-element {
   /* width: 25%;*/
    height: 10px;
    background-color: deepskyblue;
}